@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

* {
    // background-color: #091629;
    color: #d8dfe9;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    // font-family: 'Product sans', sans-serif;

}

.formContainer {
    // background-color: #091629;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #091629;


    .formWrapper {
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-size: 20px;
            font-weight: bold;
            margin: 40px;
            color: #59a6ff;


        }

        button {
            background-color: rgb(32, 92, 204);
            color: #fff;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: -0.5px;
            border: none;
            cursor: pointer;
            transition: all 0.2s;
            width: max-content;
            padding: 0.6rem 0.8rem;
            border-radius: 3px;
            transform: scale(1);
            align-self: center;
        }

        .title {
            display: flex;
            justify-content: start;
            align-items: start;
            gap: 10px;
            font-size: 15px;
            font-weight: bold;
            margin: 10px;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        input {
            padding: 10px;
            border-radius: 5px;
            border: none;
            outline: 2px solid #d8dfe9;
            background-color: #091629;
            color: #d8dfe9;
        }

        input:focus {
            outline-color: #59a6ff;
        }



        label {
            padding: 10px;
            border-radius: 5px;
            border: none;
            outline: 2px solid #d8dfe9;
            background-color: #091629;
            color: #d8dfe9;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 12px;
            cursor: pointer;

            img {
                width: 20px;
                height: 20px;
            }


        }
    }
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #091629;

    .container {
        border: 1px solid #d8dfe9;
        border-radius: 10px;
        width: 85%;
        height: 90%;
        display: flex;
        overflow: visible;
     

        @include tablet {
            width: 90%;
        }

        .sidebar {
            flex: 1;
            border-right: 1px solid #d8dfe9;
            background-color: #0f1e36;
            position: relative;

            .navbar {
                display: flex;
                align-items: center;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                border-bottom: 1px solid;

                .logo {
                    font-weight: bold;
                    font-size: 20px;
                    color: #59a6ff;

                    @include tablet {
                        display: none;
                    }
                }

                .user {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    img {
                        background-color: #ddddf7;
                        height: 34px;
                        width: 34px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button {
                        background-color: rgb(32, 92, 204);
                        color: #fff;
                        font-size: 10px;
                        font-weight: 500;
                        letter-spacing: -0.5px;
                        border: none;
                        cursor: pointer;
                        transition: all 0.2s;
                        width: max-content;
                        padding: 0.6rem 0.8rem;
                        border-radius: 3px;
                        transform: scale(1);

                        // align-self: center;
                        @include tablet {
                            position: absolute;
                            bottom: 10px;
                        }
                    }
                }
            }



            .search {
                border-bottom: 1px solid gray;

                .searchForm {
                    padding: 10px;

                    input {
                        //     padding: 10px;
                        //     border-radius: 5px;
                        //     border: none;
                        //     outline: 2px solid #d8dfe9;
                        //     background-color: #091629;
                        //     color: #d8dfe9;
                        padding: 10px;
                        border-radius: 5px;
                        border: 1px solid #d8dfe9;
                        outline: none;
                        background-color: #091629;
                        color: #d8dfe9;

                        &::placeholder {
                            color: #d8dfe9;
                        }
                    }
                }
            }

            .userChat {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px;
                border-bottom: 1px solid white;
                cursor: pointer;

                &:hover {
                    background-color: #1d2e4f;
                }

                img {
                    background-color: #ddddf7;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .userChatInfo {
                    span {
                        font-size: 18px;
                        font-weight: 500;
                                          }
                    

                    p {
                        font-size: 14px;
                        color: #d8dfe9;
                    }
                }
            }
        }



        .chat {
            flex: 2;

            .chatInfo {
                height: 50px;
                // background-color: #1d2e4f;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                border-bottom: 1px solid white;

            }

            .chatIcons {
                display: flex;
                gap: 10px;

                img {
                    width: 30px;
                    height: 30px;
                }
            }

            .messages {
                // background-color: #000000;
                // height: 100%;
                padding: 10px;
                height: calc(100% - 160px);
                overflow-y: scroll;

                .message {
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;


                    .messageInfo {
                        display: flex;
                        flex-direction: column;
                        color: yellow;
                        font-weight: 300;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    .messageContent {
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p {
                            background-color: #1d2e4f;
                            padding: 10px 20px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                        }

                        img {
                            width: 50%;
                        }
                    }

                    &.owner {
                        flex-direction: row-reverse;

                        .messageContent {
                            align-items: flex-end;

                            p {
                                background-color: #8da4f1;
                                color: white;
                                border-radius: 10px 0px 10px 10px;
                            }
                        }
                    }
                }
            }


            .input {
                height: 50px;
                // background-color: #1d2e4f;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input {
                    width: 100%;
                    padding: 10px;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    font-size: 18px;
                    background-color: #1d2e4f;


                    &::placeholder {
                        color: lightgray;
                    }
                }

                .send {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        height: 24px;
                        cursor: pointer;
                    }

                    button {
                        // border: none;
                        // padding: 10px 15px;
                        // color: white;
                        // background-color: #8da4f1;
                        // cursor: pointer;

                        background-color: rgb(32, 92, 204);
                        color: #fff;
                        font-size: 1rem;
                        font-weight: 500;
                        letter-spacing: -0.5px;
                        border: none;
                        cursor: pointer;
                        transition: all 0.2s;
                        width: max-content;
                        padding: 0.6rem 0.8rem;
                        border-radius: 3px;
                        transform: scale(1);
                        align-self: center;
                    }
                }

            }
        }
    }

}